
<aside
  aria-label="Side navigation"
  class="left-menu"
  id="common-sidebar-en"
>

  <a
    aria-label="Home"
    class="home-button"
    href="index.html"
  >
    <img
      class="common-icon common-icon-home"
      src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/pocetna.png"
      alt=""
      aria-hidden="true"
    >
  </a>


  <div
    aria-label="Language selection"
    class="lang-switch"
  >

    <a
      class="lang-btn flag-btn"
      data-common-lang="hr"
      href="#"
    >
      <img
        src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/zastava-hr.png"
        alt="Hrvatski"
      >
    </a>

    <a
      class="lang-btn flag-btn"
      data-common-lang="en"
      href="#"
    >
      <img
        src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/zastava-uk.png"
        alt="English"
      >
    </a>

  </div>


  <h2>TANDARA — SURNAME</h2>


  <nav aria-label="Main navigation">

    <ul class="heritage-menu">

      <li>
        <img
          class="common-menu-icon"
          src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png"
          alt=""
          aria-hidden="true"
        >
        <a
          data-common-page="autor"
          href="autor-en.html"
        >
          About the Author and Project
        </a>
      </li>


      <li>
        <img
          class="common-menu-icon"
          src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png"
          alt=""
          aria-hidden="true"
        >
        <a
          data-common-page="podrijetlo"
          href="podrijetlo-en.html"
        >
          Origin of the Surname
        </a>
      </li>


      <li>
        <img
          class="common-menu-icon"
          src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png"
          alt=""
          aria-hidden="true"
        >
        <a
          data-common-page="rodoslovlje"
          href="rodoslovlje-en.html"
        >
          Family Genealogy
        </a>
      </li>


      <li>
        <img
          class="common-menu-icon"
          src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png"
          alt=""
          aria-hidden="true"
        >
        <a
          data-common-page="migracije"
          href="migracije-en.html"
        >
          Migration and Distribution
        </a>
      </li>


      <li>
        <img
          class="common-menu-icon"
          src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png"
          alt=""
          aria-hidden="true"
        >
        <a
          data-common-page="zanimljivosti"
          href="zanimljivosti-en.html"
        >
          Interesting Facts
        </a>
      </li>


      <li>
        <img
          class="common-menu-icon"
          src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png"
          alt=""
          aria-hidden="true"
        >
        <a
          data-common-page="kontakti"
          href="contacts.html"
        >
          Contact and Collaboration
        </a>
      </li>


      <li>
        <img
          class="common-menu-icon"
          src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png"
          alt=""
          aria-hidden="true"
        >
        <a
          data-common-page="knjiga-poruka"
          href="visitors-messages.html"
        >
          Visitor Messages
        </a>
      </li>


      <li>
        <img
          class="common-menu-icon"
          src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png"
          alt=""
          aria-hidden="true"
        >
        <a
          data-common-page="privatnost"
          href="privacy.html"
        >
          Privacy Policy
        </a>
      </li>

    </ul>

  </nav>


  <div class="author-photo">

    <a
      aria-label="About the author Jure Tandara"
      href="autor-en.html"
    >
      <img
        src="https://tandarajure-crypto.github.io/tandara-common/slike/common-foto/jure.webp"
        alt="Jure Tandara"
        decoding="async"
        loading="lazy"
      >
    </a>

  </div>


  <div class="flagbox">

    <div class="flag-title">
      Visitors
    </div>

    <a
      href="https://info.flagcounter.com/OyvA"
      referrerpolicy="no-referrer"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        alt="Visitor counter by country"
        decoding="async"
        loading="lazy"
        referrerpolicy="no-referrer"
        data-flag-counter-src="https://s01.flagcounter.com/countxl/OyvA/bg_FFFFFF/txt_000000/border_CCCCCC/columns_4/maxflags_50/viewers_0/labels_0/pageviews_0/flags_1/percent_0/"
      >
    </a>

  </div>

</aside>
