<aside aria-label="Bočni izbornik" class="left-menu" id="common-sidebar-hr">
  <a aria-label="Početna" class="home-button" href="index.html">
    <img class="common-icon common-icon-home"
         src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/pocetna.png"
         alt="" aria-hidden="true">
  </a>

  <div aria-label="Odabir jezika" class="lang-switch">
    <a class="lang-btn flag-btn" data-common-lang="hr" href="#">
      <img src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/zastava-hr.png" alt="Hrvatski">
    </a>
    <a class="lang-btn flag-btn" data-common-lang="en" href="#">
      <img src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/zastava-uk.png" alt="English">
    </a>
  </div>

  <h2>TANDARA-PREZIME</h2>

  <nav aria-label="Glavni izbornik">
    <ul class="heritage-menu">
      <li><img class="common-menu-icon" src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png" alt="" aria-hidden="true"><a data-common-page="autor" href="autor-hr.html">O autoru i projektu</a></li>
      <li><img class="common-menu-icon" src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png" alt="" aria-hidden="true"><a data-common-page="podrijetlo" href="podrijetlo-hr.html">Podrijetlo prezimena</a></li>
      <li><img class="common-menu-icon" src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png" alt="" aria-hidden="true"><a data-common-page="rodoslovlje" href="rodoslovlje-hr.html">Rodoslovlje roda</a></li>
      <li><img class="common-menu-icon" src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png" alt="" aria-hidden="true"><a data-common-page="migracije" href="migracije-hr.html">Migracije i rasprostranjenost</a></li>
      <li><img class="common-menu-icon" src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png" alt="" aria-hidden="true"><a data-common-page="zanimljivosti" href="zanimljivosti.html">Zanimljivosti</a></li>
      <li><img class="common-menu-icon" src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png" alt="" aria-hidden="true"><a data-common-page="kontakti" href="kontakti.html">Kontakt i suradnja</a></li>
      <li><img class="common-menu-icon" src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png" alt="" aria-hidden="true"><a data-common-page="knjiga-poruka" href="knjiga-poruka.html">Knjiga poruka</a></li>
      <li><img class="common-menu-icon" src="https://tandarajure-crypto.github.io/tandara-common/slike/ikone/stablo.png" alt="" aria-hidden="true"><a data-common-page="privatnost" href="privatnost.html">Politika privatnosti</a></li>
    </ul>
  </nav>

  <div class="author-photo">
    <a aria-label="O autoru Juri Tandari" href="autor-hr.html">
      <img src="https://tandarajure-crypto.github.io/tandara-common/slike/common-foto/jure.webp"
           alt="Jure Tandara" decoding="async" loading="lazy">
    </a>
  </div>

  <div class="flagbox">
    <div class="flag-title">Posjetitelji</div>
    <a href="https://info.flagcounter.com/OyvA"
       referrerpolicy="no-referrer"
       rel="noopener noreferrer"
       target="_blank">
      <img alt="Brojač posjetitelja prema državama"
           decoding="async"
           loading="lazy"
           referrerpolicy="no-referrer"
           data-flag-counter-src="https://s01.flagcounter.com/countxl/OyvA/bg_FFFFFF/txt_000000/border_CCCCCC/columns_4/maxflags_50/viewers_0/labels_0/pageviews_0/flags_1/percent_0/">
    </a>
  </div>
</aside>
